---
import "../css/style.css";
---

<footer id="footer">
    <h2 class="titulo-footer">
        Por qué Astro es el Futuro del Desarrollo Web: Rápido, Sencillo y
        Eficiente
    </h2>
    <div class="description">
        <p style="color: #808080;">
            Astro está revolucionando la forma en que construimos sitios web. Con su
            enfoque centrado en el rendimiento, permite crear aplicaciones rápidas y
            modernas usando solo lo que necesitas. En este blog, exploro cómo este
            framework de nueva generación está simplificando el desarrollo web.
            ¡Descubre cómo sacarle el máximo provecho!
        </p>
    </div>
    <p class="copy">©CopyRight by Ismaelxd74 | official License from 2024-2058</p>
</footer>
