---
import "../css/style.css";
---

<header>
    <nav class="navbar">
        <div class="titulo">
            <img
                src="https://astro.build/assets/press/astro-icon-light-gradient.png"
                alt="Favicon"
                class="logo_de_astro"
                id="logo_astro_link"
            />
            <h1>Blog-Astro</h1>
        </div>
        <div class="lista-menu">
            <div class="contenedor-links">
                <a href="#inicio">Inicio</a>
                <a href="#Características">Características</a>
                <a href="#footer">&copy;CopyRight</a>
            </div>
        </div>
    </nav>
</header>
